body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1,
h2 {
  color: #333;
}

#genre-selection {
  margin-bottom: 20px;
}

#genre-selection label {
  display: block;
  margin-bottom: 10px;
}

#recommended-music {
  display: none;
}

#music-list {
  list-style-type: none;
  padding: 0;
}

#music-list li {
  margin-bottom: 10px;
}
